In [1]:
#Connect jupyter to mysql
import mysql.connector
mydb =mysql.connector.connect(host="localhost", user="root", passwd="Taahir123")
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001E271786208>

In [2]:
#Test connection
if (mydb):
    print("Connection Successful")
    
else:
    print("Connection Unsuccessful")

Connection Successful

In [3]:
#Create database named exra
import mysql.connector
mydb =mysql.connector.connect(host="localhost", user="root", passwd="Taahir123")
#object mycursor
mycursor =mydb.cursor()
mycursor.execute("Create database Extra")

DatabaseError: 1007 (HY000): Can't create database 'extra'; database exists

In [1]:
#Creating 2 tables. Cost price and Barcode
import mysql.connector
mydb =mysql.connector.connect(host="localhost", user="root", passwd="Taahir123", database="extra")
mycursor =mydb.cursor()
mycursor.execute("Create table Add_on(Cost_Price varchar(200), Barcode int(20))")

In [5]:
#("Show database) 
import mysql.connector
mydb =mysql.connector.connect(host="localhost", user="root", passwd="Taahir123")
mycursor =mydb.cursor()

mycursor.execute("Show databases")
for db in mycursor:
    print(db)

('data',)
('extra',)
('information_schema',)
('mydatabase',)
('mysql',)
('new_schema',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [1]:
#Show tables
import mysql.connector
mydb =mysql.connector.connect(host="localhost", user="root", passwd="Taahir123", database="extra")
mycursor =mydb.cursor()
mycursor.execute("Show tables")

for tb in mycursor:
    print(tb)

('add_on',)
('cost_price',)

In [6]:
#Insert command
import mysql.connector

mydb =mysql.connector.connect(host="localhost", user="root", passwd="Taahir123", database="mydatabase")
mycursor =mydb.cursor()

sqlform = "INSERT INTO book2(Chips, Quantity) VALUES (%s, %s)"

cost = [
    ("Conachos", 101),
    ("Spookies", 102),
    ("Cracka Snack", 103),
    ("Chippa", 104),
    ("Bigga", 105),
    ("Flyers", 106),
    ("Stylos", 107),
    ("Bubbles", 108),
    ("Labamba", 109),
    ("Fritos", 110)
]

mycursor.executemany(sqlform, cost)

mydb.commit()

In [ ]:
#Insert command
import mysql.connector

mydb =mysql.connector.connect(host="localhost", user="root", passwd="Taahir123", database="mydatabase")
mycursor =mydb.cursor()

sqlform = "ALTER TABLE book2 ADD Quantity_Value Varchar(50)"


mycursor.execute(sqlform)

mydb.commit()

In [ ]:
import mysql.connector

mydb =mysql.connector.connect(host="localhost", user="root", passwd="Taahir123", database="mydatabase")
mycursor =mydb.cursor()

alter = df.to_csv()